<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.bolobanov.chat_client">

    <application
        android:name="ru.bolobanov.chat_client.ChatApplication_"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="ru.bolobanov.chat_client.activity.LoginActivity_"
            android:label="@string/app_name" />
        <activity
            android:name="ru.bolobanov.chat_client.activity.PreferenceActivity"
            android:label="@string/app_name" />

        <activity
            android:name="ru.bolobanov.chat_client.activity.ChatActivity_"
            android:label="@string/app_name" />

        <activity
            android:name="ru.bolobanov.chat_client.activity.MobileChatActivity_"
            android:label="@string/app_name" />

        <activity
            android:name="ru.bolobanov.chat_client.activity.SplashActivity_"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="ru.bolobanov.chat_client.services.LoginService_"
            android:exported="false"
            android:label="login service"
            android:stopWithTask="true" />

        <service
            android:name="ru.bolobanov.chat_client.services.UsersService_"
            android:exported="false"
            android:label="users service"
            android:stopWithTask="true" />

        <service
            android:name="ru.bolobanov.chat_client.services.ReceivingService_"
            android:exported="false"
            android:label="receiving service"
            android:stopWithTask="false">

        </service>
    </application>


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
